body {
	margin: 20px;
	background: #FFF;
}

#main-canvas {
	float: left;
}

#side {
	width: 150px;
	height: 100%;
	margin-left: 15px;
	padding: 15px;

	background: rgb(233, 240, 241);
	
	border: 1px solid #CDEAEA;
	box-shadow: 5px 5px 5px #888888;
	
	box-sizing: border-box;
	
	position: relative;
	float: left;
}

#fpsDiv {
	font-family: "Lucida Grande",Arial,Verdana;
	text-align: center;
}

.button {
	font-weight:normal;
	
	width: 120px;
	padding: 5px 0px;
}

#desc {
	margin-top: 5px;
	
	text-align: center;
	font-size: small;
}

em {
	font-size: 1.25em;
	font-weight: bold;
}

#sideBottom {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	
	box-sizing: border-box;
	padding: 15px;
	
	font-size: x-small;
	text-align: center;	
	color: dark-silver;
}
